#cocktails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cocktail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  // margin-right: auto;
  justify-content: center;
  align-items: center;
}
