.banner {
  // background-image: url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80');
  background-image: url('https://media.giphy.com/media/lXiRLRoJyXtcRQWd2/giphy.gif');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  z-index: 1;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  font-size: 72px;
  color: white;
  padding-bottom: .5em;
}

#arrow {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 128px;
  cursor: pointer;
  animation: move 2s infinite linear;
  text-align: center;
}

@keyframes move {

  0% {
    transform: translate(-50%, 0);
  }

  25% {
    transform: translate(-50%, 10%);
  }

  50% {
    transform: translate(-50%, 0);
  }

  75% {
    transform: translate(-50%, -10%);
  }

  100% {
    transform: translate(-50%, 0);
  }

}
